.account-data-list {
    list-style: none;
    margin-top: 15px;
}

.account-data-list:nth-of-type(1) {
    margin-top: 0;
}

.account-data-list > li {
    margin: 10px 0;
}

.account-data-list > li > label {
    font-weight: bold;
    margin: 0 5px 0 0;
}