html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif
}
    
h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  color:#006643;
}

h3 {
  display: block;
  font-size: 1.5em;
  color:#006643;
}

article {
  height: 100%;
  grid-template-columns:1fr;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-rows: 100px 1fr 150px;
}

.grid {
  display: grid;
}

/* Header */
header {
  grid-area: header;
  background-color:#006643;
  color: #fff;
  grid-template-columns: 1% 98% 1%;
}

.title-container {
  grid-column-start: 2;
  align-self: center;
}

/* Footer */
footer {
  grid-area: footer;
  background-color:#006643;
  color: #fff;
  grid-template-columns: 1% 98% 1%;
  grid-template-rows: 5% 90% 5%;
}

.copy {
  place-self: end;
  grid-row-start: 2;
  grid-column-start: 2;
}